/* Estilos específicos da tela index.html */

#tela-inicio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-top: 100px;
  background: linear-gradient(to bottom, #0707d2, #0c1ff3, #6672f1);
  color: white;
  gap: 40px;
}

.titulo {
  background: linear-gradient(to bottom, #c8edf7, #2784f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 50px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
  align-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}

.row {
  display: flex;
  gap: 60px;
}

.col-md-6 {
  width: 100%;
  max-width: 500px;
  background: rgba(53, 155, 251, 0.259);
  border-radius: 0px;
  border: white 1px solid;
  box-shadow: 0 0 15px rgba(189, 180, 180, 0.5);
  padding: 20px;
  backdrop-filter: blur(10px);
}

/* cadastro/modal */
.modal-content {
  background: rgba(98, 174, 246, 0.463);
  border-radius: 0px;
  border: white 1px solid;
  padding: 10px;
  backdrop-filter: blur(10px);
}

.modal-title {
  color: rgb(246, 250, 253);
}

.modal-header {
  border-radius: 0px;
  padding: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal-body {
  color: #ffffff;
  padding: 20px;
  gap: 20px;
}

.modal-footer {
  background: rgba(98, 174, 246, 0.393);
  border-radius: 0px;
  border: white 1px solid;
  padding: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-close {
  color: white;
}

.btn-primary {
  background-color: #0b93f6;
  border-color: #749ebc;
}

.btn-primary:hover {
  background-color: #0971c2;
  border-color: #0971c2;
}
